<section class="content" style="min-height: 750px">
  <% if flash[:success] %>
    <div class="box box-info" id="cCreated" style="visibility: visible;border-top-color:#dd4b39">
      <div class="box-header with-border" style="background-color:#00a65a;color:#fff">
        <h3 class="box-title" style="color:white;font-weight:bold;"><%= flash[:success] %></h3>
      </div>
    </div> 
  <% end %>
  <% if flash[:error] %>
    <div class="box box-info" id="cCreated" style="visibility: visible;border-top-color:#dd4b39">
      <div class="box-header with-border" style="background-color:#dd4b39;color:#fff">
        <h3 class="box-title" style="color:white;font-weight:bold;"><%= flash[:error] %></h3>
      </div>
    </div> 
  <% end %>
  <div class="col-lg-8 col-xs-8">
    <!-- small box -->
    <div class="small-box bg-green" style="border-radius:12px">
      <div class="inner">
        
        <h3><%= current_user.name+' '+current_user.last_name %></h3>
        <p>Super privileges area</p>
      </div>
      <div class="icon">
        <i class="fa  fa-unlock "></i>
      </div>
    </div>
  </div>
  <div class="box-body">
    <h2 style="align-self: center;"></h2>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"> <h3 class="panel-title">Create Classes</h3></div>
          <div class="panel-body"> 
            <div class="form-group">
              <label>Subject</label>
              <input id="nameClass" class="form-control select2"  style="width: 100%;"><option></option></select>
            </div>
            <div class="col-xs-3" style="padding-left:0px">
              <button class="btn btn-default" onclick="createClass()" style="height:37px">Add Class</button>  
            </div>
            <div class="col-md-5">
              <div class="box box-info" id="cCreat" style="visibility:hidden;border-top-color:#dd4b39;height:35px">
                <div class="box-header with-border" style="background-color:#dd4b39;color:#fff;height:35px;padding-top:5px">
                  <h3 class="box-title" style="color:white;font-weight:bold;">Course created</h3>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Classes available</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
            
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table responsive">
            <thead>
              <tr>
                <!-- <th>Id</th> -->
                <th name="subject">Subject</th>
                <th name="created_at">Created at</th>
              </tr>
            </thead>
            <tbody>
              <% @subJ.each do |enroll| %>
              <% puts enroll %>
              <tr>
                <td><%= enroll['name'] %></td>
                <td><%= enroll['created_at'].to_time.strftime('%b %d %Y at %I:%M %Z %p') %></td>    
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function createClass(){
    console.log($("#nameClass").val()) 
    $.ajax({
        type: 'GET',
        url: 'createnewClass',
        data: ({className: $("#nameClass").val()}),
        success: function(data){
        console.log(data==null)
        $("#cCreated").delay(3000).fadeOut();  
        
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert("some error");
        }
    });
  }
  
</script>