<script type="text/javascript">
$(function() {
  $.ajax({ 
    type: 'GET', 
    url: 'get_myskin', 
    dataType: 'json', 
    success: function(data){ //Sending the output to a function
      dictColors = [{'skin-red':'#dd4b39','skin-red-light':'#dd4b39','skin-black':'#fff','skin-black-light':'#fff','skin-blue':'#3c8dbc','skin-blue-light':'#3c8dbc','skin-purple':'#605ca8','skin-purple-light':'#605ca8','skin-green':'#00a65a','skin-green-light':'#00a65a','skin-yellow':'#f39c12','skin-yellow-light':'#f39c12'}]
      $('#infoAuctHeader').css('background-color',dictColors[0][data[0]['skin']]);
      $('#btntoAuction').css('background-color',dictColors[0][data[0]['skin']]);
      $('#btntoAuction').css('border-top-color',dictColors[0][data[0]['skin']]);
    } 
  }); //AJAX to energy calculation module
});
</script>
<script type="text/javascript">
	
</script>
<section class="content"> 
	<div class="row">
		<% @budget.each do |budgets| %>
			<div class="col-lg-3 col-xs-6">
			    <!-- small box -->
			    <div class="small-box bg-red" style="border-radius:12px">
				    <div class="inner">
				      
				      <h3>$<%=  budgets['budget']%></h3>
				      <p style="font-size:25px"><%=  budgets['name']%></p>
				      <p style="font-size:25px"><%=  budgets['subject_id']%></p>
				    </div>
				    <div class="icon">
				      <i class="fa fa-line-chart"></i>
				    </div>

			    </div>
		  	</div>
	  	<% end %>
  	</div>
  	<div class="row">
		<div class="col-lg-4 col-xs-6">
		    <div class="box">
		      <div class="box-header" style="background-color:rgba(60, 141, 188, 0.52);font-weight:bold;">
		        <h3 class="box-title">Goods in Auction available</h3>
		        <div class="box-tools pull-right">
		          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		          </button>

		          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		        </div>
		        
		      </div>
		      <!-- /.box-header -->
		      <div class="box-body no-padding">
		        <table class="table responsive" id="table2">
		        <thead>
		          <tr>
		            <!-- <th>Id</th> -->
		            <th name="nrc">NRC</th>
		            <th name="concept">Concept</th>
		            <th name="price">Price</th>
		            <th name="available">Due date</th>
		            <th name="action">Action</th>
		          </tr>
		        </thead>
		        <tbody>
		          <% @shoptG.each do |shopT| %>
		          	<% shopT.each do |minishopT| %>
			          <tr>
			            <td style="display:none;"><%= minishopT['id'] %></td>
			            <td><%= minishopT['nrc'] %></td>
			            <td id="nameE"><%= minishopT['name'] %></td>
			            <td><%= minishopT['price'] %></td>
			            <td><%= minishopT['due_date'].to_time.strftime('%A %b %d %Y') %></td>

			            <td><button type="button" onclick="joinA(<%= minishopT['id'] %>,<%= minishopT['price']%>,<%=minishopT['auctioneers_number']%>,<%= minishopT['nrc'] %>,'<%= minishopT['name'] %>')" class="badge bg-green">Bid</button></td>
			          </tr>
			        <% end %>
		        <% end %>
		        </tbody>
		        </table>
		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer clearfix">
		        <ul class="pagination pagination-sm no-margin pull-right">
		          <li><a href="#">&laquo;</a></li>
		          <li><a href="#">1</a></li>
		          <li><a href="#">2</a></li>
		          <li><a href="#">3</a></li>
		          <li><a href="#">&raquo;</a></li>
		        </ul>
		      </div>
		    </div>
		    <!-- /.box -->
		   	<div class="box">
		      <div class="box-header" style="background-color:rgba(243, 156, 18, 0.58);font-weight:bold;">
		        <h3 class="box-title">Services in Auction available</h3>
		        <div class="box-tools pull-right">
		          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		          </button>

		          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		        </div>
		        
		      </div>
		      <!-- /.box-header -->
		      <div class="box-body no-padding">
		        <table class="table responsive" id="table3">
		        <thead>
		          <tr>
		            <!-- <th>Id</th> -->
		            <th name="nrc">NRC</th>
		            <th name="concept">Concept</th>
		            <th name="price">Price</th>
		            <th name="available">Due date</th>
		            <th name="action">Action</th>
		          </tr>
		        </thead>
		        <tbody>
		          <% @shoptS.each do |shopT| %>
		          	<% shopT.each do |minishopT| %>
			          <tr>
			            <td style="display:none;"><%= minishopT['id'] %></td>
			            <td><%= minishopT['nrc'] %></td>
			            <td id="nameE"  ><%= minishopT['name'] %></td>
			            <td><%= minishopT['price'] %></td>
			            <td><%= minishopT['due_date'].to_time.strftime('%A %b %d %Y') %></td>

			            <td><button type="button" onclick="joinA(<%= minishopT['id'] %>,<%= minishopT['price']%>,<%=minishopT['auctioneers_number']%>,<%= minishopT['nrc'] %>,'<%= minishopT['name'] %>')" class="badge bg-green">Bid</button></td>
			          </tr>
			        <% end %>
		        <% end %>
		        </tbody>
		        </table>
		      </div>
		      <!-- /.box-body -->
		      <div class="box-footer clearfix">
		        <ul class="pagination pagination-sm no-margin pull-right">
		          <li><a href="#">&laquo;</a></li>
		          <li><a href="#">1</a></li>
		          <li><a href="#">2</a></li>
		          <li><a href="#">3</a></li>
		          <li><a href="#">&raquo;</a></li>
		        </ul>
		      </div>
		    </div>        
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="box">
				<div class="box-header" id="infoAuctHeader" style="font-weight:bold;color:white">
			        <h3 class="box-title">Auction Info</h3>
			        <div class="box-tools pull-right">
			          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			          </button>

			          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			        </div>
		      	</div>
		      	<div class="box-body no-padding">
		      		<div class="box box-info" id="nDS" style="visibility: visible;border-top-color:#9e8d8b;width:85%;left:6.25%;margin-top:10px">
					  <div class="box-header with-border" style="background-color:#9e8d8b;color:#fff">
					    <h3 class="box-title" style="color:white;">No Data Selected</h3>
					  </div>
					</div>
					<div class="box box-info" id="auctioning" style="display:none;border-top-color:#fff;width:85%;left:6.25%;margin-top:10px">
						
					</div>
					<div class="box box-info" id="budIns" style="display:none;border-top-color:#dd4b39;width:85%;left:6.25%;margin-top:10px">
					  <div class="box-header with-border" class="blink_me" style="background-color:#dd4b39;color:#fff">
					    <h3 class="box-title" style="color:white;">Current budget insufficient</h3>
					  </div>
					</div>  
		      	</div>
			</div>
		</div>
		<div class="col-lg-4 col-xs-6">
	    	<div class="box">
	      		<div class="box-header" style="background-color:#3c8dbc;color:white;font-weight:bold;">
	        		<h3 class="box-title">Goods in Posession</h3>
	        		<div class="box-tools pull-right">
	         			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	          			</button>

	          			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	        		</div>
	     		</div>
	      		<!-- /.box-header -->
	      		<div class="box-body no-padding">
	        		<table class="table responsive">
	        			<thead>
				          <tr>
				            <!-- <th>Id</th> -->
				            <th name="element">Element</th>
				            <th name="nrc">NRC</th>
				            <th name="created_at">Due Date</th>
				            <th name="status">Status</th>
				          </tr>
	        			</thead>
				        <tbody>
				         	<% @SIPG.each_with_index do |possST,indexTg| %>
					          	<tr>
						            <td><%= possST['name'] %></td>
						            <td><%= possST['nrc'] %></td>
						            <td><%= possST['due_date'].to_time.strftime('%A %b %d %Y at %I:%M %Z %p ') %></td>
						            <td id="Tgstatus"><span class="<%= @statusG[indexTg][:class]%>"><%= @statusG[indexTg][:status]%></span></td>
					          	</tr>
				        	<% end %>
				        </tbody>
	        		</table>
	      		</div>
	      		<!-- /.box-body -->
	     		<div class="box-footer clearfix">
			        <ul class="pagination pagination-sm no-margin pull-right">
			          <li><a href="#">&laquo;</a></li>
			          <li><a href="#">1</a></li>
			          <li><a href="#">2</a></li>
			          <li><a href="#">3</a></li>
			          <li><a href="#">&raquo;</a></li>
			        </ul>
	      		</div>
	    	</div>
	    	<!-- /.box -->    
	    	<div class="box">
	      		<div class="box-header" style="background-color:#f39c12;color:white;font-weight:bold;">
	        		<h3 class="box-title">Services in Posession</h3>
	        		<div class="box-tools pull-right">
	          			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	          			</button>
	          			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	        		</div>
	      		</div>
	      		<!-- /.box-header -->
	      		<div class="box-body no-padding">
			        <table class="table responsive">
				        <thead>
				          <tr>
				            <!-- <th>Id</th> -->
				            <th name="name">Element</th>
				            <th name="nrc">NRC</th>
				            <th name="due_date">Due Date</th>
				            <th name="status">Status</th>
				          </tr>
				        </thead>
			        	<tbody>
			            	<% @SIPS.each_with_index do |possST,indexT| %>
					          <tr>
					            <td><%= possST['name'] %></td>
					            <td><%= possST['nrc'] %></td>
					            <td><%= possST['due_date'].to_time.strftime('%A %b %d %Y at %I:%M %Z %p ') %></td>
					            <td id="Tstatus" ><span class="<%= @statusS[indexT][:class]%>"><%= @statusS[indexT][:status]%></span></td>
					          </tr>
			        		<% end %>
			        	</tbody>
			        </table>
	      		</div>
	      		<!-- /.box-body -->
	      		<div class="box-footer clearfix">
			        <ul class="pagination pagination-sm no-margin pull-right">
			          <li><a href="#">&laquo;</a></li>
			          <li><a href="#">1</a></li>
			          <li><a href="#">2</a></li>
			          <li><a href="#">3</a></li>
			          <li><a href="#">&raquo;</a></li>
			        </ul>
	      		</div>
	    	</div>
	    	<!-- /.box -->            
		</div>
	</div>	
</section>
<script type="text/javascript">
	$('#prodBought').delay(3000).fadeOut();
</script>
<script type="text/javascript">
	function doAuction(param1,param2,param3,param4){
		if ($('#newPrice').val()==param3){
			alert('Sorry... The Amount must be higher than current value.')
		}else{
			if($('#newPrice').val()>param4){
				alert('Sorry.... The bid price is higher than your current budget')
				$('#auctioning').fadeOut();
				$('#abouttoAuctN').fadeOut();
				$('#abouttoAuctB').fadeOut();
				$('#abouttoAuctI').fadeOut();
				$('#abouttoAuctS').fadeOut();
				$('#nDS').show();
			}else{
				$.ajax({
					type: 'GET',
					url: 'bidAuction',
					data: ({auction_id: param1,auction_nrc:param2,newPrice:$('#newPrice').val(),oldPrice:param3}),
					success: function(data){
					setTimeout(function(){location.reload()}, 3000);
					
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("some error");
					}
		    	});

			}
			
		}

	}
	function joinA(id,Price,QTT,nNRC,nName){
		console.log(nNRC);
		var saldo;
		$.ajax({
			type:'GET',
			url: 'getBudget',
			data: ({nrc: nNRC}),
			success: function(data){
				saldo = data;
				if(saldo>=Price){
					$('#nDS').fadeOut();
					$('#auctioning').show();
					$('#auctioning').html('<div class="small-box bg-green" id="abouttoAuctN" style="border-radius:12px"><div class="inner"><h3 style="font-size:30px">'+nName+'</h3>'+
		      							 '<p>Auction Name</p></div>'+
		    							 '</div><div class="small-box bg-yellow" id="abouttoAuctB" style="border-radius:12px"><div class="inner"><h3 style="font-size:30px">$'+saldo+'.00</h3>'+
		    							 '<p>Current Budget in '+nNRC+'</p></div>'+
		    							 '</div><div class="small-box " id="abouttoAuctI" style="border-radius:12px">'+
		    							 '<div class="input-group"><span class="input-group-addon">Amount $</span><input type="number" id="newPrice" class="form-control" aria-label="Amount (to the nearest dollar)" id="amount" value="'+Price+'" min="'+Price+'"><span class="input-group-addon">.00</span></div>'+
		    							 '</div>'+
		    							 '<div class="small-box" id="abouttoAuctS" style="border-radius:12px"><button type="button" onclick="doAuction('+id+','+nNRC+','+Price+','+saldo+')" id="btntoAuction" class="btn btn-primary btn-lg btn-block">Auction</button>'+
		    							 '</div>');

				}else{
					$('#budIns').show().delay(3500).fadeOut();
					$('#auctioning').fadeOut();
					$('#abouttoAuctN').fadeOut();
					$('#abouttoAuctB').fadeOut();
					$('#abouttoAuctI').fadeOut();
					$('#abouttoAuctS').fadeOut();

				}	
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
		    	alert("some error");
		    }
		});
	}
	
	
</script>
