<!-- <script src="plugins/datatables/jquery.dataTables.js" type="text/javascript"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.2.0/js/dataTables.keyTable.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.2.0/css/keyTable.jqueryui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.1.1/css/keyTable.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js">

<script type="text/javascript">
  $(document).ready(function() {
    var colum_names=[]; tabla = document.getElementById("students");
    for (var i = 0; i < tabla.rows.length+1; i++) {
      colum_names.push(tabla.rows[1].cells[i].getAttribute("name"));
    }
    console.log(colum_names)
    var events = $('#events');
    var table = $('#students').DataTable( {
        keys: true /*,
        columnDefs: [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }
        ]*/
    } );

/*    //Add new row
     $('#addRow').on( 'click', function () {
        table.row.add([0,1,2,3,4,5]).draw(false);
    } );
    //---------*/

      var sw = true;
      var input;
      var currCell;
   
      table
          .on( 'key', function ( e, datatable, key, cell, originalEvent ) {
              //events.prepend( '<div>Key press: '+key+' for cell <i>'+cell.data()+'</i></div>' );
              //console.log(key);
              if(key != 13){
                if(sw){
                  var value = cell.data();
                  if(cell.index().column == colum_names.indexOf("saldo") || cell.index().column == colum_names.indexOf("codigo")){
                    cell.data('<input id="intro" type="number" step="10" min="0.0" name="" value='+value+'>')
                  }else{
                    cell.data('<input id="intro" type="text" name="" value='+value+'>')
                  }
                
                $("#intro").focus();
                sw = false;
                table.keys.disable();
                }
              }else{
                var pos = currCell.index().row*5 + currCell.index().column + 1;
                table.cell( ':eq('+pos+')' ).focus();
              }

          } )
          .on( 'key-focus', function ( e, datatable, cell ) {
            currCell = cell;
          } )
          .on( 'key-blur', function ( e, datatable, cell ) {
          } )

        window.onkeyup = function(e) {
       var key = e.keyCode ? e.keyCode : e.which;


       if (key == 13) {
          if(sw == false){
            input = document.getElementById("intro").value;
                currCell.data(input);
                sw = true;
                table.keys.enable();
                // PARTE DE AJAX
                columna = currCell.index().column;
                row = currCell.index().row;
                indexo = document.getElementById("students").rows[row+1].cells[0].innerText;
                inputo = input;
                modified = colum_names[columna];
                console.log(columna)
                $.ajax({
                  type: 'GET',
                  url: 'update',
                  data: ({index:indexo,column:modified,new:inputo}),
                  success: function(data){
                    console.log("Sucess")
                    console.log(data[0]['name']);
                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error");
                  }
                });
                // PASAR A SIGUIENTE CELDA
                var pos = currCell.index().row*5 + currCell.index().column + 1;
                table.cell( ':eq('+pos+')' ).focus();
          }
           
       }
    }
  } );
</script>

<table class="display responsive" id="students" style="width:100%">
  <thead>
    <tr>
      <th style="display:none"></th>
      <!-- <th>Id</th> -->
      <th>Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Budget</th> 
      <th>Code</th> 
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="display:none;" id="zero"><%= user.id %></td>
        <!-- <td id="userid"><%= user.id %></td> -->
        <td name="name"><%= user.name %></td>
        <td name="last_name"><%= user.last_name %></td>
        <td name="email"><%= user.email %></td>
        <td name="saldo"><%= user.saldo %></td>
        <td name="codigo"><%= user.codigo %></td>
        
      </tr>
    <% end %>

  </tbody>
</table>

<button id="addRow" class="btn btn-default">Add New Student</button>