<!-- Content Header (Page header) -->
<script type="text/javascript">
  $( document ).ready(function() {
    var vnrcs;
    nrc_curve = [];
    labelmonths = []
    data2 = []
    <% @budget_adj.each do |bgclass| %>
      nrc_curve.push(<%= bgclass[0] %>)
      labelmonths.push(<%=bgclass[1]%>)
      data2.push(<%=bgclass[2]%>)
    <% end %>
    var lLChartContent = document.getElementById('lChartcontentG');
    lLChartContent.innerHTML = '&nbsp;';
    $('#lChartcontentG').append('<canvas id="lineChart" height="120px"><canvas>');
    dibuja() 
  });
</script>
<section class="content-header">
  <h1>
      Dashboard
  </h1>
  
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol> -->
</section>

<!-- Main content -->
<section class="content">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green" style="border-radius:12px">
    <div class="inner">
      
      <h3><%= @count %></h3>
      <p>Courses in charge</p>
    </div>
    <div class="icon">
      <i class="fa  fa-graduation-cap"></i>
    </div>
    <a href="#" class="small-box-footer" style="border-radius:12px">
      <i class="fa fa-arrow-circle-right"></i>
    </a>
    </div>
  </div>
  <div class="col-lg-4 col-xs-6">
      <!-- small box -->
    <div class="small-box bg-purple" style="border-radius:12px">
      <div class="inner" >
        <h3><%= @numbers %></h3>

        <p>Students</p>
      </div>
      <div class="icon">
        <i class="fa fa-plus"></i>
      </div>
      <a href="#" class="small-box-footer" style="border-radius:12px">
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>

  </div>
   <div class="col-lg-5 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red" style="border-radius:12px">
    <div class="inner">
      
      <% if user_signed_in? %>
        <h3 style="font-size:20px"><%= current_user.last_sign_in_at.to_time.strftime('%A %b %d %Y at %I:%M %Z %p') %></h3>
      <% end %>
      <br>
      <p>Last Signed In</p>
    </div>
    <div class="icon">
      <i class="ion ion-person"></i>
    </div>
    <a href="#" class="small-box-footer" style="border-radius:12px">
      <i class="fa fa-arrow-circle-right"></i>
    </a>
    </div>
  </div>
  <!-- Your Page Content Here -->
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Monthly Recap Report</h3>
        <button type="button" onclick="conmutaF()" class="btn btn-box-tool" style="font-weight:bold;padding-left:15px" >All/None</button>
        <span id="courseMR" style="padding-left:30px"></span>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>

          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="padding-top:0px">
        <div class="row">
          <div class="col-md-12">        
            <div class="chart" id="lChartcontentG">
              <!-- Sales Chart Canvas -->
              <canvas id="lineChart" style="height:120px"></canvas>
            </div>

            <!-- /.chart-responsive -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- ./box-body -->

      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div class="col-lg-5 col-xs-6">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Courses as Teacher</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>

          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table responsive">
        <thead>
          <tr>
            <!-- <th>Id</th> -->
            <th name="budget">Subject</th>
            <th name="nrc">NRC</th>
          </tr>
        </thead>
        <tbody>
          <% @enrolled.each do |enroll| %>
          <tr>
            <td onclick="escribe(<%= enroll[1]%>)"><%= enroll[0] %></td>
            <td><%= enroll[1] %></td>     
          </tr>
        <% end %>
        </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- /.box -->        
    </div>

</section>
<!-- /.content -->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script type="text/javascript">
  flag = 0;
  function conmutaF(){
    if(flag==0){
      document.getElementById('courseMR').innerHTML='<span id="courseMR" style="padding-left:30px"></span>';
      var lLChartContent = document.getElementById('lChartcontentG');
      lLChartContent.innerHTML = '&nbsp;';
      $('#lChartcontentG').append('<canvas id="lineChart" height="120px"><canvas>');
      flag = 1
    }else{
      document.getElementById('courseMR').innerHTML='<span id="courseMR" style="padding-left:30px"></span>';
      var vnrcs;
      nrc_curve = [];
      labelmonths = []
      data2 = []
      <% @budget_adj.each do |bgclass| %>
        nrc_curve.push(<%= bgclass[0] %>)
        labelmonths.push(<%=bgclass[1]%>)
        data2.push(<%=bgclass[2]%>)
      <% end %>
      var lLChartContent = document.getElementById('lChartcontentG');
      lLChartContent.innerHTML = '&nbsp;';
      $('#lChartcontentG').append('<canvas id="lineChart" height="120px"><canvas>');
      flag = 0
      dibuja()

    }
  }

  function escribe(param){
    document.getElementById('courseMR').innerHTML='<span id="courseMR" style="padding-left:30px">NRC: '+param+'</span>'; 
    var vnrcs;
    nrc_curve = [];
    labelmonths = []
    data2 = []
    vnrcs = param;
    <% @budget_adj.each do |bgclass| %>
      if(vnrcs == <%= bgclass[0] %>){
        nrc_curve.push(<%= bgclass[0] %>)
        labelmonths.push(<%=bgclass[1]%>)
        data2.push(<%=bgclass[2]%>)
      }   
    <% end %>
    var lLChartContent = document.getElementById('lChartcontentG');
    lLChartContent.innerHTML = '&nbsp;';
    $('#lChartcontentG').append('<canvas id="lineChart" height="120px"><canvas>');

    dibuja()
  }

 
  
 
  
  
 
</script>
<script src="dist/js/pages/dashboard2.js"></script>