<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
  <h1>Welcome to ACS, <%= @user.name %></h1>
  <p>
    You have successfully signed up to ACS,
    your username is: <%= @user.email %>.<br>
    We temporarily assigned you this password: <%= @user.password %> . <br><br>
    To login to the site, just follow this link: <%= @url %>.<br>
    Remember you can change you password anytime you want.
  </p>
  <h2>Thanks for joining and have a great day!</h2>
  <%= yield %>
</body>
</html>