<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>

  <!-- Modernizr JS -->
  <script src="/js/modernizr-2.6.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script> 
  <link rel="stylesheet" href="/css/jqbtk.min.css">

</head>

<body>
  <script type="text/javascript">
    (function()
    {
      if( window.localStorage )
      {
        if( !localStorage.getItem( 'firstLoad' ) )
        {
          localStorage[ 'firstLoad' ] = true;
          window.location.reload();
        }  
        else
          localStorage.removeItem( 'firstLoad' );
      }
    })();
    //////////F12 disable code////////////////////////
    document.onkeypress = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
           //alert('No F-12');
            return false;
        }
    }
    document.onmousedown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            //alert('No F-keys');
            return false;
        }
    }
document.onkeydown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            //alert('No F-keys');
            return false;
        }
    }
/////////////////////end/////////////////////// 
</script>
  <nav class="gtco-nav" role="navigation" style="padding:5px 0;height:125px;background-color:rgb(33, 47, 86)"oncontextmenu="return false;" >
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
        <!-- <div class="col-md-4"> -->
          <div id="gtco-logo">
            <!-- <a href="#">
              <br><br>
              <img src="images/logo1.png">
            </a> -->
            <!-- <a href="/#">
                <script type="text/javascript" src="/js/mousedirection.js"></script>
    
                <img class="coin" id="coin" onmouseover="coinmove()">
                <script type="text/javascript" src="/js/coin.js"></script> 
            </a> -->
          </div>
        </div>

        <div class="col-md-8 text menu-1">
        <!-- <div class="col-xs-8 text-right menu-1"> -->
            <ul style="padding-top:20px;padding-left:10px">
              <li style="color:white;font-size:40px">Virtual System</li>
            </ul>
        </div>
      </div>
    </div>
  </nav>

  <div id="gtco-portfolio" class="gtco-section" style="background-color:#fff" oncontextmenu="return false;">
    <center> 
      <div class="row" style="padding:450px;background-color:#fff;align-content:center">

        <div class="col-md-8">
          <div class="login" id="#login_form">
            

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login-form") do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true,:required => true, class:"login-input", placeholder: :email %>
              </div>

              <div class="field">
                <input type="password" pattern="[0-9]{4}" class="login-input" name="user[password]" id="user_password" onkeydown="return false" maxlength=4 required onfocus ="validation()" autocomplete="off" placeholder="Password" oncontextmenu="return false;">                
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="login-form">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in", class:"login-btn" %>
              </div>
            <% end %>

            <div class="login-form">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
        
      </div>
    </center>
  </div>
  <div class="lineBlack" style="height:50px" oncontextmenu="return false;">
    <div class="gtco-container">
      
        <div class="gtco-footer">
          <p style="color:white;padding-top:20px;font-size:20px">&copy;Luis Díaz, Juan Gómez, Sorelys Sandoval</p>
        </div>
        
      
    </div>
  </div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <!-- <script src="js/owl.carousel.min.js"></script>-->
    <!-- countTo -->
    <script src="/js/jquery.countTo.js"></script>
    <!-- Carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/jqbtk.js"></script>
    <script type="text/javascript">
    //var teclasOriginal = [[['7'],['8'],['9']],[['4'],['5'],['6']],[['1'],['2'],['3']],[['0'],['del']]];
    //var teclasRow = [['*','7'],['*','8'],['*','9'],['*','4'],['*','5'],['*','6'],['*','1'],['*','2'],['*','3'],['*','0']];
      $(function(){
        
        var teclasRow = [['7','*'],['8','*'],['9','*'],['4','*'],['5','*'],['6','*'],['1','*'],['2','*'],['3','*'],['0','*']];
        var t = teclasRow.sort(function() { return 0.5 - Math.random() });
        $('#user_password').keyboard({
          layout: [[t[0],t[1],t[2]],[t[3],t[4],t[5]],[t[6],t[7],t[8]],[t[9],['del','del']]]
          //layout: [[['*'],['*'],['*']],[['*'],['*'],['*']],[['*'],['*'],['*']],[['*'],['del']]]
        });
        $('#user_password').click(function(){

           textarea = document.getElementById('user_password');
          vali = textarea.value;
          len = vali.length;
            if (len > 4){
               textarea.value = vali;
            }else{
            }
        });
      });

      function validation(){
        textarea = document.getElementById('user_password');
        len = textarea.value.length;
          if (len > 4){
             textarea.value = vali;
          }else{
            vali = textarea.value;
          }
      }

      //$('#login_form').reload(document.URL +  '#login_form');

    </script>
    
</body>
