<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <!-- Modernizr JS -->
  <!-- Waypoints -->
  <!-- Carousel -->
  <!-- <script src="js/owl.carousel.min.js"></script>-->
  <!-- countTo -->
  <!-- Carousel -->
  <!-- Main -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/jqbtk.js"></script>

</head>
<script type="text/javascript">
    (function()
    {
      if( window.localStorage )
      {
        if( !localStorage.getItem( 'firstLoad' ) )
        {
          localStorage[ 'firstLoad' ] = true;
          window.location.reload();
        }  
        else
          localStorage.removeItem( 'firstLoad' );
      }
    })();
    //////////F12 disable code////////////////////////
    document.onkeypress = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
           //alert('No F-12');
            return false;
        }
    }
    document.onmousedown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            //alert('No F-keys');
            return false;
        }
    }
document.onkeydown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            //alert('No F-keys');
            return false;
        }
    }
/////////////////////end/////////////////////// 
</script>

<html>

  <body style="margin:0px">
    <div class="row" style="height:20vh;background-color:rgb(33, 47, 86);">
      
          <!-- <div class="col-xs-8 text-right menu-1"> -->
              <ul style="padding-top:3%;padding-left:0%">
                <li style="color:white;font-size:6vh;text-align:center">Virtual System</li>
              </ul>
          
    </div> 
    <div class="row" style="height:70vh;background-color:#fff;">
        <div class="login" style="padding-top:5%;padding-bottom:10%;padding-right:10%;max-width:60vw" id="#login_form">
          

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login-form") do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true,:required => true, class:"login-input", placeholder: :email %>
            </div>

            <div class="field">
              <input type="password" pattern="[0-9]{4}" class="login-input" name="user[password]" id="user_password" onkeydown="return false" maxlength=4 required onfocus ="validation()" autocomplete="off" placeholder="Password" oncontextmenu="return false;">                
            </div><br>
            <div class="actions">
              <%= f.submit "Log in",class: 'btn ',style:"float:right;background:#212f56;border:2px solid #212f56 !important;color:white" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="login-form">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

          <% end %>

          <div class="login-form">
            <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
    <div class="row" style="height:10vh;background-color:#000;" oncontextmenu="return false;">
      <div class="gtco-container">
          <div class="gtco-footer">
            <p style="color:white;padding-top:2%;font-size:3vh;text-align:center">&copy;Luis Díaz, Juan Gómez, Sorelys Sandoval</p>
          </div>
      </div>
    </div>
  
      
  </body>
</html>

<script type="text/javascript">
  //var teclasOriginal = [[['7'],['8'],['9']],[['4'],['5'],['6']],[['1'],['2'],['3']],[['0'],['del']]];
  //var teclasRow = [['*','7'],['*','8'],['*','9'],['*','4'],['*','5'],['*','6'],['*','1'],['*','2'],['*','3'],['*','0']];
  $(function(){
    
    var teclasRow = [['7','*'],['8','*'],['9','*'],['4','*'],['5','*'],['6','*'],['1','*'],['2','*'],['3','*'],['0','*']];
    var t = teclasRow.sort(function() { return 0.5 - Math.random() });
    $('#user_password').keyboard({
      layout: [[t[0],t[1],t[2]],[t[3],t[4],t[5]],[t[6],t[7],t[8]],[t[9],['del','del']]]
      //layout: [[['*'],['*'],['*']],[['*'],['*'],['*']],[['*'],['*'],['*']],[['*'],['del']]]
    });
    $('#user_password').click(function(){

       textarea = document.getElementById('user_password');
      vali = textarea.value;
      len = vali.length;
        if (len > 4){
           textarea.value = vali;
        }else{
        }
    });
  });

  function validation(){
    textarea = document.getElementById('user_password');
    len = textarea.value.length;
      if (len > 4){
         textarea.value = vali;
      }else{
        vali = textarea.value;
      }
  }

  //$('#login_form').reload(document.URL +  '#login_form');

</script>