<!DOCTYPE html>
<html>
  <head>
    <title>Abp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<!--    <p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p> -->
    <div class="container">
    	<%= render 'layouts/messages' %>
    </div>
    <th scope="col">
	    <div class="container-fluid">
	          <center>          
	          <%= link_to 'Home', root_path, class: "one" %>
	          <% if current_user %>            
	            <label class="one"> <%= current_user.name %></label>
	            <%= link_to 'Logout', destroy_user_session_path, method: :delete , class: "one" %>
	          <% else %>
	            <%= link_to 'Login', new_user_session_path, class: "one" %>
	          <% end %>  
	          
	          </center>
	    </div>
	</th>
    <%= yield %> 
  </body>
</html>