<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<nav class="gtco-nav" role="navigation" style="padding:5px 0;height:125px;background-color:rgb(33, 47, 86)">
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
        <!-- <div class="col-md-4"> -->
          <div id="gtco-logo">
            <!-- <a href="#">
              <br><br>
              <img src="images/logo1.png">
            </a> -->
            <!-- <a href="/#">
                <script type="text/javascript" src="/js/mousedirection.js"></script>
    
                <img class="coin" id="coin" onmouseover="coinmove()">
                <script type="text/javascript" src="/js/coin.js"></script> 
            </a> -->
          </div>
        </div>

        <div class="col-md-8 text menu-1">
        <!-- <div class="col-xs-8 text-right menu-1"> -->
            <ul style="padding-top:20px;padding-left:10px">
              <li style="color:white;font-size:40px">Virtual System 2</li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
<div id="gtco-portfolio" class="gtco-section" style="background-color:#fff">
  <center> 
    <div class="row" style="padding:450px;background-color:#fff;align-content:center">

      <div class="col-md-8">
        <div class="login" style="height:550px">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "login-form") do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.text_field :name, autofocus: true, :required => true,class: "login-input", placeholder: 'Name'  %>
            </div>

            <div class="field">
              <%= f.text_field :last_name, autofocus: true,:required => true, class: "login-input", placeholder: 'Last Name'  %>
            </div>

            <div class="field">
              <%= f.number_field :codigo, in: 200000000..299999999, autocomplete: "off", :required => true,class: "login-input", placeholder: 'Code' %>
            </div>
            <div class="field">
              <%= f.email_field :email, autofocus: true, class: "login-input", placeholder: 'Uninorte E-mail'  %>
            </div>

            <div class="field">
              <% if @minimum_password_length %>
                <% mensaje = " - #{@minimum_password_length} digits" %> 
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class:"login-input",placeholder: "Password #{mensaje}" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"login-input", placeholder: "Repeat password" %>
            </div>

            <div class="field" style="visibility: hidden">
              <%= f.number_field :teacher, autocomplete: "off", class:"login-input", value: 1 %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class:"login-btn" %>
            </div>
          <% end %>
          <!--
          <div class="login-form">
            <%= render "devise/shared/links" %>
          </div>
          -->
        </div>
      </div>
    </div>
  </center>
</div>
<div class="lineBlack" style="height:50px">
    <div class="gtco-container">
      
        <div class="gtco-footer">
          <p style="color:white;padding-top:20px;font-size:20px">&copy;Luis Díaz, Juan Gómez, Sorelys Sandoval</p>
        </div>
    </div>
  </div>
</center>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
